@model ExamenT2.Models.Atenciones

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Atenciones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TicketID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaProgramada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaProgramada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProveedorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProveedorID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoTicket)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoTicket)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostoAtencion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostoAtencion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "MostrarTodo")
        </div>
    }
</div>
