@model ExamenT2.Models.Atenciones

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Atenciones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TicketID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FechaProgramada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FechaProgramada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProveedorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProveedorID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ItemID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoTicket)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoTicket)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EstadoID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstadoID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CostoAtencion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CostoAtencion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "MostrarTodo")
</p>
